@import url('https://fonts.googleapis.com/css?family=Chewy|Mountains+of+Christmas:400,700|Press+Start+2P');

@font-face {
    font-family: 'PressStart';
    src: url('https://fonts.googleapis.com/css?family=Chewy');
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* font-family: 'Chewy', cursive;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Mountains of Christmas', cursive; */
}

#principal-section{
    background-image: url('../images/DgzANoOXkAM8VyE.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 815px;
    color: white;
}

#main-section{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.heading-container{
    font-family: 'Chewy', cursive; 
    text-align: center;
}

span{
    font-family: 'Mountains of Christmas', cursive;
    font-weight: 700;
    font-size: 2em;
}

.content{
    align-self: center;
}

.button-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.btn{
    font-family: 'Press Start 2P', cursive;
    border: 0;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    padding: 2px 10px;
    outline: 0;
}

.btn-start{
    background-color: #28A745;
}

.btn-start:hover{
    background-color: #218838;
}

.btn-secondary{
    background-color: #FFC107;
}

.btn-secondary:hover{
    background-color: #E0A800;
}

.btn-info{
    background-color: #17A2B8;
}

.btn-info:hover{
    background-color: #138496;
}
